body {
    background-image: url(./images/Hnet.com-image.gif);
    background-size:auto;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    font-family: 'Stalinist One', cursive;
    color: white;
    
}

.story {
    justify-content: center;
    display: flex;
    
    
}

#typing {
    width: 65%;
    padding-top: 15px;
}

.inputs input {
    height: 100px;
    width: 100px;
    padding: 5px;
    border-style:solid;
}

.inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.outcome {
    text-align: center;
}

/* .inputs {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 10s; 
       -moz-animation: fadein 10s; 
        -ms-animation: fadein 10s; 
         -o-animation: fadein 10s; 
            animation: fadein 10s;
} */

/* @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
} */

/* .inputs, .outcome {
    animation: cssDisappearAnimation 0s 11s forwards;
    visibility: hidden;
  }
  
  @keyframes cssDisappearAnimation {
    to   { visibility: visible; }
  } */

.inputs , .outcome , .end-display {
	animation: fadeIn 2s 11s forwards;
  	opacity: 0;
    visibility: hidden;
}

@keyframes fadeIn {
  /* from {
  	opacity: 0;
    visibility: visible;
  } */
  to {
 	opacity: 1;
    visibility: visible;
  }
}

.story  {
    animation: cssAppearAnimation 2s 10s forwards;
    visibility: visible;
    opacity: 1;
    /* display: block; */
  }
  
@keyframes cssAppearAnimation {
    to   {
        opacity: 0;
        visibility: hidden;
    }
    /* to   { display: none; } */
}

.end-display {
    text-align: center;
}
